.card {
  background-color: #4B0E29;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: center;
  padding: 12px;
  text-align: center;
  width: 100%;
  
  &__name {
    color: #FFF;
    font-size: 24px;
  }

  &__image-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin: 12px;
  }

  &__image {
    height: 1px;
    width:1px;
  }

  &__house {
    color: #FFF;
    font-size: 16px;
  }
}